<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <mappers>
        <!-- 映射文件的位置 -->
        <mapper resource="com.mapper/UserMapper.xml"/>
        <mapper resource="com.mapper/CarMapper.xml"/>
        <mapper resource="com.mapper/CarSendMapper.xml"/>
    </mappers>
</configuration>