body{
    background:url(../images/bg.png) no-repeat center;
    background-size: cover;
    overflow: hidden;;
}
a{
    color: #666;
    text-decoration: none;
}
#bigBox
{
    margin: 0 auto;
    margin-top: 100px;
    padding: 20px 50px;
    background-color: #ffffff;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    text-align: center;
    animation-name: myMove;
    animation-duration: 0.5s;
}
#bigBox h1
{
    font-size: 40px;
    color: #18170f;
}
#bigBox .inputBox
{
    margin-top: 35px;
}
#bigBox .inputBox .inputText
{
    margin-top: 20px;
}
#bigBox .inputBox .inputText input
{
    border: 0;
    padding: 10px 10px;
    border-bottom: 1px solid white;
    background-color: #000000;
    color: white;
    width: 200px;
    height: 40px;
    font-size: 20px;
}
#bigBox .inputBox .inputText i
{
    color: white;
}
#bigBox .inputBox .inputButton
{
    border: 0;
    width: 400px;
    height: 100px;
    color: white;
    border-radius:10px;
    background-color:  #189F92 ;
    font-size: 35px;
    transition: all 0.5s;
    font-family: "fangsong";
}
#bigBox .inputBox .inputButton:hover
{
    border: 0;
    width: 400px;
    height: 100px;
    color: white;
    border-radius:10px;
    background-color: #0f675f;
    font-size: 35px;
    font-family: "fangsong";

}

@keyframes myMove {
    from {margin-top: 300px}
    to {margin-top: 100px}
}